[submodule "VitraeEngine"]
	path = VitraeEngine
	url = git@github.com:LMauricius/VitraeEngine.git
[submodule "VitraeShowcase"]
	path = VitraeShowcase
	url = git@github.com:LMauricius/VitraeShowcase.git
[submodule "VitraeDocs"]
	path = VitraeDocs
	url = git@github.com:LMauricius/VitraeDocs.git
[submodule "VitraePluginOpenGL"]
	path = VitraePluginOpenGL
	url = git@github.com:LMauricius/VitraePluginOpenGL.git
[submodule "VitraePluginBasicComposition"]
	path = VitraePluginBasicComposition
	url = git@github.com:LMauricius/VitraePluginBasicComposition.git
[submodule "VitraePluginFormGeneration"]
	path = VitraePluginFormGeneration
	url = git@github.com:LMauricius/VitraePluginFormGeneration.git
[submodule "VitraePluginPhongShading"]
	path = VitraePluginPhongShading
	url = git@github.com:LMauricius/VitraePluginPhongShading.git
[submodule "VitraePluginShadowFiltering"]
	path = VitraePluginShadowFiltering
	url = git@github.com:LMauricius/VitraePluginShadowFiltering.git
