[submodule "VitraeEngine"]
	path = Engine
	url = git@github.com:LMauricius/VitraeEngine.git
[submodule "VitraeShowcase"]
	path = Showcase
	url = git@github.com:LMauricius/VitraeShowcase.git
[submodule "VitraeDocs"]
	path = Docs
	url = git@github.com:LMauricius/VitraeDocs.git
[submodule "VitraePluginOpenGL"]
	path = Plugins/OpenGL
	url = git@github.com:LMauricius/VitraePluginOpenGL.git
[submodule "VitraePluginBasicComposition"]
	path = Plugins/BasicComposition
	url = git@github.com:LMauricius/VitraePluginBasicComposition.git
[submodule "VitraePluginFormGeneration"]
	path = Plugins/FormGeneration
	url = git@github.com:LMauricius/VitraePluginFormGeneration.git
[submodule "VitraePluginPhongShading"]
	path = Plugins/PhongShading
	url = git@github.com:LMauricius/VitraePluginPhongShading.git
[submodule "VitraePluginShadowFiltering"]
	path = Plugins/ShadowFiltering
	url = git@github.com:LMauricius/VitraePluginShadowFiltering.git
[submodule "VitraePluginEffects"]
	path = Plugins/Effects
	url = git@github.com:LMauricius/VitraePluginEffects
[submodule "VitraePluginGI"]
	path = Plugins/GI
	url = git@github.com:LMauricius/VitraePluginGI.git
